

<h2>Lista de Productos</h2>

<div id="productos-container" class="row">
    <!-- Aquí se cargará la lista de productos dinámicamente -->
</div>

@section Scripts {
    <script src="~/js/ArticuloCliente.js"></script>
}
