@{
    ViewData["Title"] = "Carrito de Compras";
}

<h2>Carrito de Compras</h2>

<div id="carrito-container" class="row">
    <!-- Aquí se cargarán los artículos del carrito dinámicamente -->
</div>

<div class="mt-3">
    <button class="btn btn-success" onclick="realizarCompra()">Realizar Compra</button>
</div>

@section Scripts{
    <script src="~/js/Carrito.js"></script>
}