@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2>
                Lista de categoria
            </h2>
        </div>
        <div class="col-4 text-end mb-2">
            <button onclick="printTable()" class="btn btn-primary mt-3 me-2">
                Imprimir Tabla
            </button>
            <a asp-action="Create" class="btn btn-primary mt-3"><i class="fa-solid fa-plus"></i>Nueva categoria</a>
        </div>
    </div>
    <br />
    <br />

    <table id="tblCategoria" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Habilitada</th>
                <th>Operaciones</th>
            </tr>
        </thead>

    </table>

</div>
@section Scripts{
    <script src="~/js/categoria.js"></script>
}